/* Resets */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input[type="checkbox"] {
  accent-color: var(--color-primary);
  border: 1px solid var(--color-primary-light-300);
}

:where(button, input) {
  outline: none;
  transition: outline var(--duration-300) var(--easing-100);
}

:where(button, input, div):where(:focus-visible) {
  outline: 2px solid var(--color-primary);
}

body {
  background-color: var(--color-primary-light-400);
  color: var(--color-primary-dark-400);
  height: 100vh;
  height: 100dvh;
  font-size: var(--fs-16);
  line-height: 1.4;
  overflow: hidden;
}

#__nuxt {
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--color-primary-dark-400);
}

button {
  border: none;
  box-shadow: none;
  cursor: pointer;
  user-select: none;
  font-size: var(--fs-16);
  background: transparent;
  font-family: var(--font-family);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

h1 {
  font-weight: bold;
  line-height: 1.2;
}

img {
  vertical-align: middle;
}

iframe {
  border: none;
}

/* Utilities */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-balance {
  text-wrap: balance;
}

.fs-16 {
  font-size: var(--fs-16);
}

.fs-20 {
  font-size: var(--fs-20);
}

.fs-32 {
  font-size: var(--fs-32);
}

.fs-48 {
  font-size: var(--fs-48);
}

.fs-14 {
  font-size: var(--fs-14);
}

.fs-12 {
  font-size: var(--fs-12);
}

.fs-18 {
  font-size: var(--fs-18);
}

.font-bold {
  font-weight: bold;
}

.font-medium {
  font-weight: 500;
}

.rounded-10 {
  border-radius: var(--rounded-10);
}

.color-primary {
  color: var(--color-primary);
}

.color-error-100 {
  color: var(--color-error-100);
}

.color-light-400 {
  color: var(--color-primary-light-400);
}

.min-height-full {
  min-height: 100%;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.relative {
  position: relative;
}

/* Blocks */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 4rem;
}

.prose-container {
  max-width: 65ch;
}

.link-underline-transition {
  position: relative;
  will-change: color;
  transition: color var(--duration-300) var(--easing-100);
}

.link-underline-transition:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  scale: 0 1;
  will-change: scale;
  transition: scale var(--duration-150) ease-in-out;
}

.link-underline-transition:where(:hover, :focus-visible) {
  color: var(--color-primary-dark-100);
}

.link-underline-transition:where(:hover, :focus-visible):after {
  scale: 1 1;
}

.icon-hover-transition {
  will-change: scale;
  transition: scale var(--duration-150) ease-in-out;
  user-select: none;
}

.icon-hover-transition:where(:hover, :focus-visible) {
  scale: 1.25 1.25;
}

.page-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.page-footer {
  margin-top: 10rem;
}

/* Components */
.button-primary {
  background-color: var(--color-primary);
  color: var(--color-primary-light-400);
  padding: 1rem 1.4rem;
  border: 2px solid var(--color-primary);
  text-transform: capitalize;
  transition: background-color var(--duration-300) var(--easing-100),
    color var(--duration-300) var(--easing-100);
  border-radius: var(--rounded-10);
}

.button-primary:where(:hover, :focus-visible) {
  background-color: var(--color-primary-light-400);
  color: var(--color-primary);
}

.overlay-container {
  position: fixed;
  z-index: var(--z-100000);
  inset: 0;
  background-color: var(--color-primary-dark-opacity-100);
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.overlay-content-card {
  background-color: var(--color-primary-light-400);
  padding: 4rem;
  border-radius: var(--rounded-10);
  width: 100%;
  max-width: 60rem;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: height var(--duration-300) var(--easing-100),
    width var(--duration-300) var(--easing-100);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  font-size: var(--fs-14);
  font-weight: 500;
}

.form-group input {
  padding: 1rem 1.4rem;
  border-radius: var(--rounded-10);
  border: 1px solid var(--color-primary-light-300);
  font-size: var(--fs-16);
  color: var(--color-primary-dark-400);
  transition: outline var(--duration-300) var(--easing-100);
  outline: 2px solid transparent;
}

.form-group input:focus-visible {
  outline: 2px solid var(--color-primary);
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }

  .container {
    padding: 1rem 2rem;
  }

  .min-height-full {
    height: max-content;
    max-height: max-content;
  }

  .height-full {
    height: max-content;
  }

  .page-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

  .page-footer {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 768px) {
  .desktop-hide {
    display: none;
  }
}